@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,800,900');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat';
}

section {
    padding: 1em;
}
.container {
    margin: auto auto;
    padding: 1em;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
}

.rotor{
    height: 25vh;
    /* position: relative; */
}
.rotary {
    position: absolute;
    padding: 0.5em;
    background-color: #000; 
    width: 60px;
    height: 10px;
    right: 2em;
}

/* ============================ */
.mid {
    height: 50vh;
    position: relative;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-content: center;
}
.main { margin: auto auto }
.title {
    font-weight: 600;
    font-size: 4em;
}
.subtitle {
    margin-top: 1em;
    font-weight: 300;
    font-size: 0.9em;
}
/* ============================ */

.details {
    margin-left: 1em; 
    height: auto;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 0.35em;
}
.tag {
    font-weight: 600;
} .tag #dates {
    font-weight: 400;
}
.org .bold {
    font-weight: 600;
}
#contact {
    margin-top: 5em;
    text-align: right;
    font-size: 0.8em;
}