<link rel="stylesheet" type="text/css" media="screen" href="../static/css/style.css" />

{{!-- START PAGE CONTENT --}}
<div class="container">
    <div class="rotor">
        <div class="rotary"><div class="cyc"></div></div>
    </div>
    
    <section class="mid">
        <div class="main">
            <div class="title">
                <div class="cyc-container"><div class="cyc"></div></div>
                <div id="name">xtacy</div>
            <div class="subtitle">coming soon</div>
        </div>
    </section>

    <section class="details">
        <div class="tag">
            celebrating humanity
            <p id="dates">March 2019</p>
        </div>

        <div class="org">
            <p id="contact">
                talk to us <b class="bold">hello@xtacy.org</b>
            </p>
            <p class="dev">Developed with 💛 by NAMAK</p>
        </div>
    </section>      
</div>
{{!-- END PAGE CONTENT --}}