<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1c1c1c">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <link rel="shortcut icon" type="image/png" href="../static/img/favicon.png"/>
    <link rel="shortcut icon" type="image/png" href="http://cdn.xtacy.org/p/faviconpng/">

    <script src="/static/js/secu.js"></script>
    <script src="/static/js/config.js"></script>

    <script>
        (()=>{
            validateToken()
                .then((r)=>{
                    if (r==='CSR_TOKEN_VALID')
                        console.log('SR Tokens Verified');
                    else if (r==='CSR_TOKEN_GEN')
                        console.log('SR Tokens Generated');
                    else if (r==='CSR_TOKEN_RENEW')
                        console.log('SR Tokens Renewed');
                    else if (r==='CSR_TIME_VALID')
                        console.log('SR Tokens Valid');
                    generateSecurityFluff(4);    
                }).catch((e)=>{
                    console.log(e);
                    if (e==='CSR_TOKEN_INVALID') {
                        window.location = 'http://xtacy.org/';
                    }
                });
        })()
    </script>
</head>
<body>
    {{{ body }}}
</body>
</html>